@import "./bootstrap/bootstrap";
body{

}

img{
  max-width: 100%;
}



.rerender-leave-active,
.rerender-enter-active {
  transition: all 150ms ease-out;
}

.rerender-enter-from,
.rerender-leave-to {
  opacity: 0;
}
